<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Markov Text Generator</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- http://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
	<link rel='stylesheet' type='text/css' href= "{{ url_for('static', filename='css/main.css') }}"></link>
</head>
<body>
	<a href="https://github.com/TexAgg/MarkovTextGenerator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

	<div class="jumbotron">
		<h1>Markov Text Generator</h1>
	</div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div><!--navbar-header-->
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav nav-tabs">
				{% for item in nav.top %}
				<li role='presentation' class="{{ 'active' if item.is_active else '' }}">
					<a href="{{ item.url }}">{{ item.label }}</a>
				</li>
				{% endfor %}
			</ul>
		</div><!--navbar-collapse-->
	</nav>

	<div id='main-wrapper' class='container'>
		{% block content %}
		{% endblock %}
	</div>

	<footer>
		<a href="http://mattgaikema.com/">Matt Gaikema</a> 2016
	</footer>
</body>
</html>